body {
    margin: 0;
    background-color: #F7F7F7;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background-color: #5A7D9A;
    font-size: 32px;
    width: 100%;
    height: 165px;
    box-sizing: border-box;
}


.navbar a {
    margin-left: 40px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.navbar button {
    color: black;
    font-size: 32px;
    margin-right: 75px;
}

main {
    padding: 20px;
}

footer {
    background-color: #5A7D9A;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: #6BAA75;
}

footer a:hover, header a:hover {
    text-decoration: underline;
}

#sign, #log, #profil {
    font-family: 'Poppins', sans-serif;
}

#sign input, #log input, #profil input {
    background-color: #E0E0E0;
    border-radius: 5px;
    color: #777777;
    width: 380px;
    height: 50px;
    font-size: 20px;
}

#sign input, #log input {
    margin-bottom: 32px;
}

#sign input::placeholder, #log input::placeholder, #profil input::placeholder {
    color: #777777;
}

#sign button, #log button {
    background-color: #C9C9C9;
    color: #777777;
    border-radius: 10px;
    width: 176px;
    height: 50px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#sign a, #log a {
    text-decoration: none;
    color: #777777;
    font-size: 14px;
}

#profil label {
    font-size: 20px;
    font-weight: bold;
}